<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProyectoBatallaNaval.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAdminiUsuarios">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAdminiSocial">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.53.104:8081/ServicioConWCFJuego"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdminiUsuarios"
                contract="ServicioAServidor.IAdminiUsuarios" name="NetTcpBinding_IAdminiUsuarios" />
            <endpoint address="net.tcp://192.168.53.104:8081/ServicioConWCFJuego"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdminiSocial"
                contract="ServicioAServidor.IAdminiSocial" name="NetTcpBinding_IAdminiSocial" />
        </client>
    </system.serviceModel>
    <userSettings>
        <ProyectoBatallaNaval.Properties.Settings>
            <setting name="codigoLenguaje" serializeAs="String">
                <value>es-MX</value>
            </setting>
        </ProyectoBatallaNaval.Properties.Settings>
    </userSettings>
</configuration>