<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAdminiUsuarios">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAdminiSocial">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/ServicioConWCFJuego"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdminiUsuarios"
                contract="ServicioAServidor.IAdminiUsuarios" name="NetTcpBinding_IAdminiUsuarios">
                <identity>
                    <userPrincipalName value="LAPTOP-1LU117D4\Victor" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/ServicioConWCFJuego"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdminiSocial"
                contract="ServicioAServidor.IAdminiSocial" name="NetTcpBinding_IAdminiSocial">
                <identity>
                    <userPrincipalName value="LAPTOP-1LU117D4\Victor" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>